<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <script src="./javascripts/jquery-3.5.1.min.js"></script>
    <script src="./javascripts/mainJS.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <input type="text" id="input"/><button id="btn" type="submit">Decode</button><br>
    <p>
      <div id="result"></div>
    </p>
  </body>
</html>
